@tailwind base;
@tailwind components;
@tailwind utilities;
#range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default style */
    width: 15px;
    height: 15px;
    background: white; /* Custom color */
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
